@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #D8C4E1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
  margin-bottom:8px;
}

.logo h4 {
  font-size: 25px;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #593B7D;
}

.heading h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #593B7D;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #593B7D;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 1rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #593B7D;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #593B7D;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-top: 16px;
  margin-bottom: 10px;
  transition: 0.7s;
}
.sign-btn:hover {
  background-color: #ad74f3;
}
.btn-google{
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #ffffff;
  color: #fff;
  border-color: #593B7D;
  border: 1px solid #593B7D;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s; 
}
#google-img{
  width: 45px;
}
.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #593B7D;
  transition: 0.5s;
}

.text a:hover {
  color: #ad74f3;
}
#lbl-help{
  color: #593B7D;
  font-size: 12px;
  margin-left: 140px;
  text-decoration: none;
}
main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%; 
  width: 55%; 
  left: 45%; 
  top: 0;
  background-color: #593B7D; /* Cor de fundo */
  border-radius: 2rem; /* Borda arredondada */
  display: grid; /* Usando grid layout */
  grid-template-rows: auto 1fr; 
  padding-bottom: 2rem; 
  overflow: hidden; /* Esconde conteúdo que sai dos limites do contêiner */
  transition: 0.8s ease-in-out; /* Transição suave ao trocar elementos */
}

.images-wrapper {
  display: grid; /* Mantém um layout em grid */
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;
  /* Não é necessário overflow aqui pois será gerido pelas transições */
}

.image {
  width: 100%; /* Imagem ocupa toda a largura do contêiner */
  grid-column: 1/2; /* Coloca todas as imagens na mesma coluna */
  grid-row: 1/2; /* Coloca todas as imagens na mesma linha */
  opacity: 0; /* Imagem inicial não visível */
  transition: opacity 0.3s, transform 0.5s; /* Transição suave de opacidade e transformação */
}

.img-1 {
  transform: translate(0, -50px); /* Desloca a primeira imagem para cima quando invisível */
}

.img-2 {
  transform: scale(0.4, 0.5); /* Segunda imagem com escala reduzida inicialmente */
  width: 400px;
  margin-left: 60px;
}

.img-3 {
  width: 300px;
  margin-left: 120px; /* Terceira imagem rotacionada e com menor escala inicialmente */
  margin-top: 100px;
}

.image.show {
  opacity: 1; /* Quando ativa, a imagem torna-se visível */
  transform: none; /* Remove as transformações quando a imagem está ativa */
}
.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffffff;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}