body { 
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#logo-main {
    color: rgb(216, 117, 216);
    font-weight: bold;
    font-size: 38px;
    text-shadow: 2px 2px 0 rgba(104, 0, 107, 0.5);
    margin-top: 10px;
    
}

.sidebar {
    background-color: #ffffff;
    width: 120px;
    height: 100vh;
    position: fixed;
    left: 0; /* Fixa a sidebar à esquerda da tela */
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.05);
}

.menu {
    margin-top: 30px;
}

.menu a {
    text-decoration: none;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
}

.sidebar button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #b1b1b1;
    margin: 30px 0;
    cursor: pointer;
}

.sidebar button i {
    margin-right: 10px;
    color: #b1b1b1;
    font-size: 22px;
}

.sidebar button.active i {
    color: rgb(143, 143, 143); 
}

.sidebar button span {
    font-size: 16px;
    color: #b1b1b1;
    display: inline-block;
}

.sidebar button.active i,
.sidebar button.active span {
    color: rgb(143, 143, 143);
}

.logout {
    margin-top: 60px;
}

/* Menu Hambúrguer - oculto por padrão */
.hamburger {
    display: none; /* O menu hambúrguer começa oculto em telas grandes */
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    #logo-main {
        margin-right: 230px;

    }

    .menu {
        margin-right: 240px;
        margin-top: 5px;
        z-index: 1002;
    
    }
    .menu a{
        text-decoration: none;
    }

   

   
    .sidebar button{
        margin: 10px 0; 
    }

    .sidebar.active {
        max-height: 300px; 
        opacity: 1;
        display: flex;
        z-index: 1001;
    }

    .logout{
        margin-top: 1px;
    }

    .add-task-button{
        width: 25%;
        margin-left: 20px;
    }
    
    .sidebar {
        width: 100%; /* A sidebar ocupará toda a largura da tela */
    }

    /* Exibir o menu hambúrguer em telas pequenas */
    .hamburger {
        display: block; /* O menu hambúrguer é exibido apenas em telas pequenas */
        margin-right: 20px;
        margin-top: 15px;
    }

    

    /* Esconde a sidebar e os itens do menu até ativar o hambúrguer */
    .sidebar {
        display: none; /* Oculta a sidebar por padrão em telas pequenas */
    }


    .sidebar .menu {
        opacity: 0; /* Os itens do menu ficam invisíveis até a sidebar ser ativada */
        pointer-events: none; /* Desabilita a interação com os itens do menu */
    }

    .sidebar.active .menu {
        opacity: 1; /* Torna os itens visíveis quando a sidebar é ativada */
        pointer-events: all; /* Torna os itens interativos quando a sidebar é ativada */
    }
}







